<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/public/style/authStyle.css">

    <title>App Autorization Security</title>
</head>
<body>
    

    <div class="auth__content">
        <div class="auth__center">
            <div class="auth__form__content">
                <form action="/register" method="post">
                    <h1>Регистрация</h1>
                    <input type="text" name="username" placeholder="Username" required autocomplete="off">
                    <input type="text" name="first_name" placeholder="First name" required autocomplete="off">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="password" placeholder="Again to Password" required>
                    <input type="submit" value="Зарегистрироваться">
                </form>
            </div>

            <div class="menu__vik">
                <ul>
                    <li><a href="/">• Назад</a></li>
                    <li><a href="#">• Войти с помощью телеграм бота</a></li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>