<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/public/css/authStyle.css">

    <title>Denpo - Login</title>
</head>
<body>
    <% if(log){ %>
        <div class="content-message-log">
            <% for(let i = 0; i < log.length; i++){ %>
                <% if(log[i].type == 'error'){ %>
                    <div class="message-log error" onclick="removeLog(this)">
                        <p>
                            <%= log[i].msg %>
                            <span>(Нажмите чтобы убрать окно)</span>
                        </p>
                    </div>
                <% } %>

                <% if(log[i].type == 'warn'){ %>
                    <div class="message-log warn" onclick="removeLog(this)">
                        <p>
                            <%= log[i].msg %>
                            <span>(Нажмите чтобы убрать окно)</span>
                        </p>
                    </div>
                <% } %>

                <% if(log[i].type == 'info'){ %>
                    <div class="message-log info" onclick="removeLog(this)">
                        <p>
                            <%= log[i].msg %>
                            <span>(Нажмите чтобы убрать окно)</span>
                        </p>
                    </div>
                <% } %>
            <% } %>
        </div>
    <% } %>
    
    <div class="content__auth">
        <div class="auth_form">
            <form action="/" method="post">
                <h1>Вход</h1>
                <input type="text" name="username" placeholder="🦋 Username:" required autocomplete="off">
                <input type="password" name="password" placeholder="🧸 Password:" required>
                <input type="submit" value="Войти">
            </form>
        </div>
        <nav class="m-vik">
            <ul>
                <li><a href="/register">Зарегистрироваться</a></li>
                <li><a href="tg://resolve?domain=DenpoBot">Войти с помощью телеграм бота</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="bg-img__content">
        <img src="/public/img/xcxc.jpg" alt="chan - (=^･ω･^=)">
    </div>

    <script src="/public/js/main.js"></script>
</body>
</html>