<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/public/style/authStyle.css">

    <title>App Autorization Security</title>
</head>
<body>
    

    <div class="auth__content">
        <div class="auth__center">
            <div class="auth__form__content">
                <form action="/" method="post">
                    <h1>Вход</h1>
                    <input type="text" name="username" placeholder="Username" required autocomplete="off">
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Войти">
                </form>
            </div>
        </div>
    </div>


</body>
</html>